body {
background-color: white;
font-size: 12;
}






/* First Line */

.main {
    display: flex;
    justify-content: space-between;

}

.contain{
    max-width: 1197px;
    margin: 0 auto;
    padding-left: 15px;
    padding: 15px;
}

.main__img{
    width: 100%;
}

.main__text{
    flex-basis: 490px;
}










/* Company Logo */
.company{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}

.alfa-logo{
    width: 300px;
}

.raiff-logo 
{
    width: 300px;
}

.timeweb-logo{
    width: 300px;
}





/* Section with new cards */
.section_two {
    text-align: center;
    margin-bottom: 35px;
}

.cards {
    display: flex;
    justify-content: space-between;

}

.card__item{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 26px;
    flex-basis: 32%;
    box-sizing: border-box;
    transition: .2s;
}

.card__item:hover{
    background: rgba(176, 174, 174, 0.099);
}



.card__cover{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 380px;
}

.card__img{
    width: 100%;
}

.card__info{
    display: flex;
    justify-content: space-between;
}





/* Section For Review */

.as-tile-rounded {
    margin-top: 200px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    padding-top: 100px;
    padding-left: 10px;
    padding-bottom: 200px;
}

.as-tile-content{
    text-align: center;
}






@media(max-width: 1400px){
    .main{
        justify-content: space-around;
    }
}

@media(max-width: 1198px) {
    .main{
        justify-content: space-evenly;
    }
    .company{
        margin-top: 130px;
    }
}

@media(max-width: 1120px) {
    .company{
        margin-top: 105px;
        justify-content: space-around;
    }

    .alfa-logo{
        width: 250px;
    }
    .raiff-logo{
        width: 250px;
    }
    .timeweb-logo{
        width: 250px;
    }
}


@media(max-width: 970px){
   
    .alfa-logo{
        width: 200px;
    }
    .raiff-logo{
        width: 200px;
    }
    .timeweb-logo{
        width: 200px;
    }
}

